.main {
    margin-top: 30px;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 12;
    justify-content: space-evenly;

}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0rem;
}

.about {
    margin-top: 80px;
    margin-bottom: 10vh;
}

.text-secondary {
    font-size: 12px;
}

html {
    scroll-behavior: smooth;
  }

  .who {
    margin-top: 80px;
  }

  .jumbotron {
      background-color: #fff;
  }

  .display-4 {
      font-size: 2.5rem;
  }